@{
    ViewData["Title"] = "Лекция 2";
}
<h1>@ViewData["Title"]</h1>

<h4>Секреты латте-мастерства: создание красивых и вкусных капучино и латте</h4>
<br>

<div class="brd">
<p>Mы поговорим о том, как создавать великолепные и вкусные капучино и латте. Эти кофейные напитки являются визитной карточкой многих кофейных заведений и обладают своими собственными секретами приготовления.</p>

<p>Выбор кофе. Качественный кофе – это основа вкуса любого кофейного напитка. Для латте и капучино лучше всего подходят сорта с богатым и насыщенным вкусом, обладающие низкой кислотностью.</p>

<p>Правильное вспенивание молока. Молоко – не менее важный ингредиент в латте и капучино. При вспенивании старайтесь создать мелкую и гладкую текстуру, чтобы напиток был более кремовым и приятным на вкус.</p>

<p>Искусство латте-арт. Латте-арт – это не просто украшение, это целое искусство, которое делает напиток не только вкусным, но и красивым. Научитесь создавать различные узоры, начиная с классического сердечка и заканчивая сложными рисунками.</p>
</div>

<br>

<h2>Тест 2</h2>

@model List<Question2>

<form method="post" action="/Home/Result">
    @foreach (var question2 in Model)
    {
        <h5>@question2.Text2</h5>
        @foreach (var answer2 in question2.Answers2)
        {
            <input type="radio" name="answers2[@question2.Id2]" value="@answer2.Id2">

            @answer2.Text2

            <br>
        }
        <br>
    }
    <button type="submit">Отправить</button>
</form>