@{
    ViewData["Title"] = "Лекция 1";
}
<h2>@ViewData["Title"]</h2>

<h4>"Основы приготовления кофе"</h4>
<br>

<div class="brd">
<p>
    <h5>Введение</h5>
    Кофе - один из самых популярных напитков в мире, и его приготовление - это искусство, которое можно освоить с помощью практики и понимания основных принципов.
</p>

<p>
    <h5>Выбор зерен</h5>
    Первым шагом является выбор качественных кофейных зерен. Ищите обжаренные зерна, которые имеют равномерный цвет и приятный аромат. Избегайте зерен, которые выглядят маслянистыми или имеют темные пятна.
</p>

<p>
    <h5>Измельчение зерен</h5>
    Правильный помол зерен имеет решающее значение для извлечения оптимального вкуса. Для разных методов заваривания требуется разный помол:
</p>

<p>
    <li>Для заваривания в турке - очень мелкий помол</li>
    <li>Для заваривания во френч-прессе - крупный помол</li>
    <li>Для заваривания в кофемашине - средний помол</li>
</p>

<p>
    <h5>Соотношение кофе и воды</h5>
    Соотношение кофе и воды влияет на крепость и вкус кофе. Общее правило - использовать 1-2 столовые ложки молотого кофе на 6 унций воды.
</p>

<p>
    <h5>Температура воды</h5>
    Идеальная температура воды для заваривания кофе составляет от 90 до 96 градусов Цельсия (195-205 градусов по Фаренгейту). Вода, которая слишком горячая, может обжечь кофе и придать ему горький вкус, а вода, которая слишком холодная, не извлечет весь вкус.
</p>

<p>
    <h5>Методы заваривания</h5>
    Существует множество методов заваривания кофе, каждый из которых дает уникальный вкус:
</p>

<p>
    <li>Турка</li>
    <li>Френч-пресс</li>
    <li>Кофемашина</li>
    <li>Аэропресс</li>
    <li>Пуровер</li>
</p>
<h5>Подача</h5>
<p>После заваривания кофе его можно подавать с молоком, сливками или сахаром по вкусу. Также можно добавить специи, такие как корица или мускатный орех, для дополнительного аромата.</p>
</div>

<br>

<h2>Тест 1</h2>

@model List<Question>

<form method="post" asp-controller="Home" asp-action="Result">
    @foreach (var question in Model)
    {
        <h5>@question.Text</h5>
        @foreach (var answer in question.Answers)
        {
            <input type="radio" name="answers[@question.Id]" value="@answer.Id">

            @answer.Text

            <br>
        }
        <br>
    }
    <button type="submit">Отправить</button>
</form>