@{
    ViewData["Title"] = "Лекция 3";
}
<h1>@ViewData["Title"]</h1>

<h4>Секреты латте-мастерства: создание красивых и вкусных капучино и латте</h4>
<br>

<div class="brd">
<p>Мы рассмотрим основные аспекты управления кофейным бизнесом. Кофейный бизнес – это одна из самых популярных и конкурентных сфер в сегменте общественного питания. Для успешного управления кофейным бизнесом необходимо учитывать несколько ключевых аспектов.</p>

<p>Исследование рынка: Начать с исследования рынка, определения целевой аудитории и конкурентной среды. Это поможет понять, какие предпочтения у потребителей и как выделиться на фоне конкурентов.</p>

<p>Выбор места: Местоположение кофейни играет критическую роль. Оно должно быть доступным, удобным для клиентов и иметь достаточный трафик.</p>

<p>Качество продукции: Одним из главных факторов успеха является качество кофе. Необходимо следить за свежестью и качеством ингредиентов, а также обеспечивать профессиональное приготовление напитков.</p>

<p>Обслуживание и атмосфера: Дружелюбное обслуживание и уютная атмосфера помогут привлечь и удержать клиентов. Обучение персонала и поддержание чистоты и порядка в кофейне также играют важную роль.</p>

<p>Маркетинг и продвижение: Необходимо разработать эффективную маркетинговую стратегию, чтобы привлекать новых клиентов и удерживать старых. Это может включать в себя различные акции, рекламные кампании, участие в мероприятиях и пр.</p>

<p>Управление финансами: Важно вести учет расходов и доходов, контролировать затраты и обеспечивать прибыльность бизнеса.</p>

<p>Обратная связь и анализ: Регулярно собирать обратную связь от клиентов и анализировать ее для улучшения сервиса и продукции.</p>

<p>Это лишь несколько основных аспектов управления кофейным бизнесом. Успешное ведение бизнеса требует постоянного обучения, адаптации к изменяющимся условиям рынка и внимания к потребностям клиентов.</p>
</div>

<br>

<h2>Тест 3</h2>

@model List<Question3>

<form method="post" action="/Home/ThirdResult">
    @foreach (var question3 in Model)
    {
        <h5>@question3.Text3</h5>
        @foreach (var answer3 in question3.Answers3)
        {
            <input type="radio" name="answers2[@question3.Id3]" value="@answer3.Id3">

            @answer3.Text3

            <br>
        }
        <br>
    }
    <button type="submit">Отправить</button>
</form>