@{
    ViewData["Title"] = "Контактная информация";
}
<br>

<h4 class="under">Контакты кофейной сети "CoffeeShop"</h4>
<br>
<br>

<div class="bordered-block">
    <p>Адрес:</p>
    <li>123 Main Street, Екатеринбург, Россия, 620000</li>
    <br>

    <p>Телефон:</p>
    <li>+1 (555) 123-4567</li>
    <br>

    <p>Электронная почта:</p>
    <li>info@coffeeshop.com</li>
    <br>

    <p>Часы работы:</p>
    <li>Понедельник-Пятница: 7:00 - 21:00</li>
    <li>Суббота-Воскресенье: 8:00 - 20:00</li>
    <br>

    <p>Социальные сети:</p>
    <li>Instagram: &#64;coffeeshop</li>
    <li>Facebook: /coffeeshop</li>
    <li>Twitter: &#64;coffeeshop</li>
    <br>

    <p>Онлайн заказы:</p>
    <li>Для онлайн заказов посетите наш веб-сайт: www.coffeeshop.com/order</li>
</div>
<br>

<p>
    Мы всегда рады вашим комментариям и предложениям.<br>
    Пожалуйста, напишите нам на электронную почту или в социальных сетях,<br>
    и мы ответим вам в кратчайшие сроки.
</p>
