html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav {
    background-color: #D2B48C;
}

body {
  margin-bottom: 60px;
}

.bordered-block {
    border: 1px solid black; /* Толщина, стиль и цвет границы */
    padding: 10px; /* Внутренний отступ вокруг содержимого */
    width: 440px;
    background-image: url("fon.jpg");
    background-size: cover; /* масштабирует изображение так, чтобы оно полностью покрывало блок */
    background-position: center; /* центрирует изображение */
    background-color: rgba(11, 11, 234, 0.5);
}

.under {
    text-decoration: underline;
}

.brd {
    border: 4px double black; /* Параметры границы */
    background: #D2B48C; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}